{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="mt-3 text-center">Savour</h1>
    <div class="text-center">
    <img class="w-50 mt-3 " src="{% static 'images/cover.jpg' %}" alt="mypic">
    </div>
    <p class="text-center mt-5">
    Introducing the esteemed guest of Savour,
    a connoisseur of refined tastes and an aficionado of
    culinary artistry. With an innate appreciation for
    exquisite flavors and a discerning palate,
    is a distinguished patron who elevates
    the dining experience to an unparalleled
    level of sophistication.
    </p>
    
    <p class="text-center">
        Known for a
        keen understanding of gastronomy
        [Your Name] seamlessly blends a passion
        for fine dining with an unwavering commitment
        to savoring the extraordinary. A trendsetter
        in the world of epicurean delights, their
        presence at Savour signifies a commitment to
        culinary excellence and an unwavering pursuit
        of the extraordinary, making each visit an
        unforgettable celebration of gastronomic indulgence.
    </p>

</div>
{% endblock %}